#################
## Eclipse
#################

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.class

######################
# IDEA
######################
*.iml
*.ipr
*.iws
.idea/
atlassian-ide-plugin.xml
out/
